version: '3.7'

services:
  web:
    image: nginx:alpine
    working_dir: /src
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${APP_NAME}.rule=Host(`${APP_URL}`)"
    volumes:
      - ./etc/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:delegated,ro
      - .:/src:delegated
    networks:
      - internal
      - traefik
  app:
    build:
      context: .
      dockerfile: ./etc/docker/app.dockerfile
    working_dir: /src
    volumes:
      - ./etc/php/php.ini:/usr/local/etc/php/conf.d/00_mvc.ini:delegated,ro
      - .:/src:delegated
    networks:
      - internal
      - local-mysql
  npm-runner:
    build:
      context: .
      dockerfile: ./etc/docker/app.dockerfile
    command: npm run watch
    restart: on-failure
    working_dir: /src
    volumes:
      - ./etc/php/php.ini:/usr/local/etc/php/conf.d/00_mvc.ini:delegated,ro
      - .:/src:delegated
      - /storage/logs
  scheduler:
    build:
      context: .
      dockerfile: ./etc/docker/app.dockerfile
    command: php artisan schedule:work
    restart: on-failure
    working_dir: /src
    volumes:
      - ./etc/php/php.ini:/usr/local/etc/php/conf.d/00_mvc.ini:delegated,ro
      - .:/src:delegated
      - /storage/logs
    networks:
      - internal
      - local-mysql
  queue-runner:
    build:
      context: .
      dockerfile: ./etc/docker/app.dockerfile
    command: php artisan queue:listen --verbose
    depends_on:
      - redis
    restart: on-failure
    working_dir: /src
    volumes:
      - ./etc/php/php.ini:/usr/local/etc/php/conf.d/00_mvc.ini:delegated,ro
      - .:/src:delegated
      - /storage/logs
    networks:
      - internal
      - local-mysql
  redis:
    image: redis
    command: redis-server
    volumes:
      - redis:/data:delegated
    networks:
      - internal
volumes:
  redis:
networks:
  internal:
  traefik:
    external: true
  local-mysql:
    external: true
